#blackjack-lobby {

  padding: 20px 0;

  .list-of-players {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;

    li {
      display: inline-block;
      margin-right: 20px;
      vertical-align: top;
      margin-bottom: 20px;
    }
  }

  .start-game-btn {
    width: 100%;
    margin-top: 10px;
  }
}
